/****** selects the root element of the document:
<html> in the case of HTML ******/
:root {
  --bg-color: #FDF6ED;
  --bg-color2: #F9E4C8;
  --bg-color3: #E00F0C;
  --bg-color4: #2D1C05;
        
  --text-color: #2D1C05;
  --text-color2: #E00F0C;
  --text-color3: #F9E4C8;
  --text-color4: #FDF6ED;  
  
  --main-font: 'Questrial', san-serif;
  --font: 'Englebert', sans-serif;
  --cursive-font: 'Dancing Script', cursive;
}

/****** Universal ******/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: var(--main-font);

  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
}
  
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);
}

/****** navigation bar ******/
header {
  position: fixed;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color);
  border-bottom: 2px solid var(--text-color);
}
  
#logo {
  display: flex;
  align-items: center;
}
  
#logo a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#logo img {
  display: block;
  width: 15rem;
  height: auto;
  border: 1px solid var(--text-color);
  border-radius: 50%;
}
  
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style: none;
}

ul li {
  padding: 0;
  margin-left: 1rem;
}
    
ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
  
ul a {
  font-size: 1.5rem;
  color: var(--text-color2);
}
  
#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

/******* hamburger bars, shows at 800px ******/
#hamburger-icon div {
  width: 35px;
  height: 5px;
  background-color: var(--bg-color3);
  margin: 6px 0;
  transition: 0.4s;
}
  
.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
  transform: rotate(-45deg) translate(-8px, 8px);
}
  
.open .bar2 {
  opacity: 0;
}
  
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
  
.open .hamburger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
  
.hamburger-menu {
  display: none;
  position: absolute;
  top: 17rem;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--bg-color3);
}
  
.hamburger-menu li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hamburger-menu li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.hamburger-menu a {
  color: var(--text-color4);
}

/****** Home Page ******/
.home {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  align-items: center;
  padding-top: 12rem;
  border-bottom: 2px solid var(--text-color);
}

.home-img img {
  width: 75%;
  height: auto;
  border-radius: 50%;
  border: 2px solid var(--text-color);
  float: right;
}

.home-text {
  margin: 0;
  padding: 0;
}
  
.home-text h1 {
  font-family: var(--cursive-font);
  font-size: 5.5rem;
}

.home-text h2 {
  font-family: var(--font);
  font-size: 9rem;
}

.home-text p {
  font-family: var(--main-color);
  font-size: 2rem;
}

/***** About Page *****/
.about {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7rem;
  align-items: center;
  padding-top: 4rem;
  padding-left: 10rem;
  padding-right: 10rem;
  background: var(--bg-color2);
  color: var(--text-color);
  border-bottom: 2px solid var(--text-color);
  overflow: auto;
}
      
.about-img img {
  width: 100%;
  height: auto;
}

.about-text {
  margin: 0;
  padding: 0;
}
  
.about-text h1 {
  font-family: var(--main-font);
  font-size: 5.5rem;
}

.about-text h2 {
  font-family: var(--cursive-font);
  font-size: 9rem;
}

.about-text p {
  font-family: var(--main-font);
  font-size: 1.5rem;
  margin-top: 1.25rem;
}

/***** education page *****/
.education {
  height: 100vh;
  width: 100%;
  display: block;
  align-items: center;
  padding-top: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
  background: var(--bg-color);
  border-bottom: 2px solid var(--text-color);
}

.education img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: auto;
}

.education-header h1 {
  display: block;
  text-align: center;
  font-family: var(--cursive-font);
  font-size: 9rem;
  margin-top: 5.5rem;
}

.education-content {
  display: flex;
  width: 100%;
  gap: 2rem;
  margin-top: 2rem;
}

.education-text {
  margin: 0;
  padding: 1.5rem;
  flex: 1;
  background: var(--bg-color2);
  border-top: 5px solid transparent;
  transition: all .4s ease;
  cursor: pointer;
  color: var(--text-color);
  border-radius: 2rem;
}

.education-text:hover {
  transform: scale(1.01) translateY(-5px);
  border-top: 1rem solid var(--main-color);
}

.education-text h2 {
  font-family: var(--main-font);
  font-size: 2.75rem;
}

.education-text h3 {
  font-family: var(--main-font);
  font-size: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;  
}

.education-text p {
  font-family: var(--main-font);
  font-size: 1.5rem;
  padding-left: 2rem;
}

.education-text #major {
  padding-left: 3rem;
}

/***** projects page *****/
.projects {
  height: 100vh;
  width: 100%;
  display: block;
  align-items: center;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: var(--bg-color2);
  overflow: auto;
  border-bottom: 2px solid var(--text-color);
}

.projects-header h1 {
  text-align: center;
  font-family: var(--cursive-font);
  font-size: 9rem;
  margin-top: 5.5rem;
}

.projects-content {
  display: flex;
  width: 100%;
  gap: 1.5rem;
}

.projects-content a {
  flex: 1;
  padding: 1.5rem;
  margin: 1.5rem;
  background: var(--bg-color2);
  border-top: 5px solid transparent;
  transition: all .4s ease;
  cursor: pointer;
  color: var(--text-color);
  border-radius: 2rem;
  border: 2px solid var(--text-color);
}

.projects-content a:hover {
  transform: scale(1.01) translateY(-5px);
  border-top: 1rem solid var(--main-color);
}

.box img {
  width: 35%;
  height: auto;
  padding: 1.5rem;
}

.box h2 {
  font-size: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  color:var(--text-color);
}

.box p {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

/***** contact page *****/
.contact {
  height: 100vh;
  width: 100%;
  display: block;
  align-items: center;
  padding-top: 4rem;
  padding-left: 20rem;
  padding-right: 20rem;
  background: var(--bg-color);
  color: var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

.contact-header h1 {
  text-align: center;
  font-family: var(--cursive-font);
  font-size: 9rem;
  margin-top: 5.5rem;
}

.contact-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
}

.contact-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background: var(--bg-color2);
  color: var(--text-color);
  gap: 2rem;
  margin-top: 2rem;
  border-radius: 2rem;
}

.contact-text {
  flex: 1;
  margin: 2rem;
  padding: 2rem;
  background: var(--bg-color);
  border-top: 5px solid transparent;
  transition: all .4s ease;
  cursor: pointer;
  color: var(--text-color3);
  border-radius: 2rem;
}

.contact-text:hover {
  transform: scale(1.01) translateY(-5px);
  border-top: 1rem solid var(--main-color);
}

.contact-text h2 {
  font-family: var(--main-font);
  font-size: 3.5rem;
  color: var(--text-color);
}

.contact-text p {
  font-family: var(--main-font);
  color: var(--text-color);
  font-size: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
}





/****** Responsive Design ******/
@media only screen and (max-width: 1450px) {
  header nav {
    display: none;
  }
  
  #hamburger-icon {
    display: block;
  }

  .home-img img {
    width: 55%;
    height: auto;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    float: right;
  }
  
  .home-text h1 {
    font-family: var(--cursive-font);
    font-size: 3.5rem;
  }

  .home-text h2 {
    font-family: var(--font);
    font-size: 5.5rem;
  }

  .home-text p {
    font-family: var(--main-color);
    font-size: 2rem;
  }

}
