/****** selects the root element of the document:
    <html> in the case of HTML ******/
:root {
  --bg-color: #fafafa;
  --text-color: #5bae9f;

  --bg2-color: #5bae9f;
  --text2-color:#fafafa;

  --accent1-color: #fe9a9a;
  --accent2-color: #faddb1;
  --accent3-color: #fafafa;

  --h1-font: 5.2rem;
  --h2-font: 3.5rem;
  --h3-font: 2.5rem;
  --p-font: 1.5rem;
}

/****** universal, body & section ******/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;  
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/****** header ******/
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  border-bottom: 3.5px solid transparent;
  transition: all 1s ease;
  padding: 3rem 14%;
}

.header-logo img {
  width: 200px;
  height: auto;
  border: 3px solid #fafafa;
  border-radius: 40%;
}

.header-navbar {
  display: flex;
}

.header-navbar a {
  margin: 2rem;
  border: 2px;
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 600;
  border-radius: 0.5rem;
  transition: all 1s ease;
}

.header-navbar a:hover {
  background: var(--accent1-color);
  color: var(--bg-color);
}

#header-menu-icon {
  display: none;
  font-size: 100px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
}

header.sticky {
  margin: 5px;
  background: var(--bg-color);
  border-bottom: 3.5px solid;
  transition: all 1s ease;
}

.sticky a {
  color: var(--text-color);
}

/****** home page ******/
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url(../images/pastel.png);
  background-size: cover;
  background-position: center;
}

.home-text {
  padding-top: 23rem;
  padding-right: 38%;
  padding-left: 38%;
}

.home-text h1 {
  margin: 3rem;
  color: var(--accent1-color);
  font-size: 40px;
  font-weight: 600;
}

.home-text h2 {
  margin: 3rem;
  font-size: var(--h2-font);
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 2px;
}

.home-text h3 {
  margin: 3rem;
  font-size: 25px;
  font-weight: 600;
}

span {
  color: var(--accent1-color);
}

/****** about me ******/
.about {
  margin: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.about img {
  width: 50px;
  height: auto;
  border-radius: 25%;;
}

.about-text h1 {
  font-size: var(--h2-font);
  color: var(--accent2-color)
}

.about-text p {
  color: var(--text-color);
  font-size: var(--p-font);
  line-height: 30px;
}

.about-gri {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  align-items: center;
  gap: 1rem;
}

.about-text a {
  color: var(--text-color);
  text-decoration-line: underline;
}

.about-text a:hover {
  background: var(--text-color);
  color: var(--accent2-color);
}

.about-in h5 {
  font-size: 22px;
  font-weight: 600;
}

.about-img img {
  height: auto;
  width: 100%;
  max-width: 460px;
}

/****** projects ******/
.projects {
  padding: 5rem;
  height: auto;
  width: 100%;
  background: url(../images/pastel.png);
  background-size: cover;
  background-position: center;
}

.projects img {
  width: 100px;
  height: auto;
  border-radius: 10%;
}

.projects-heading {
  text-align: center;
}

.projects-heading h1 {
  font-size: var(--h1-font);
  color: var(--text-color);
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.projects-content h2 {
  color: var(--accent1-color);
  font-size: 24px;
  font-weight: 600;
}

.projects-content p {
  color: var(--text-color);
}

.box {
  background: var(--bg2-color);
  border-top: 5px solid transparent;
  transition: all 1s ease;
  cursor: pointer;
}

.box h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--accent1-color);
  transition: all 1s ease;
}

.box p {
  color: var(--text2-color);
  font-size: var(--p-font);
  line-height: 30px;
}

.box:hover {
  transform: scale(1.01) translateY(-5px);
  border-top: 5px solid var(--accent1-color);

}

/****** portfolio ******/
.portfolio-content img {
  width: 50px;
  height: auto;
  border-radius: 10%;
}

/****** responsive design ******/
/*******************************/

/****** laptop / desktop screens ******/
@media (max-width: 1500px) {
  header {
    padding: 18px 3%;
    transition: all 1s ease;
  }
}

/* tablet screens */
@media (max-width: 1080px) {
  header {
    padding: 35px 10%;
    transition: all 1s ease;
  }
  header.sticky {
    padding: .5rem 25%;
    background: var(--bg-color);
    border-bottom: 3.5px solid;
    transition: all 1s ease;
  }
  #header-menu-icon {
    display: block;
  }
  .header-navbar {
    position: absolute;
    top: -800px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    transition: all 1s ease;
    text-align: center;
    background: var(--bg-color);
  }
  .header-navbar a {
    display: block;
    padding: 1rem;
    margin: 0.8rem;
    background: var(--bg2-color);
    color: var(--text2-color);
    border: 2px solid;
  }
  .header-navbar a:hover {
    background: var(--bg-color);
    color: var(--text-color);
    border: 2px var(--text-color) solid;
  }
  .header-navbar.open {
    top: 100%;
  }
  .home-text {
    padding-bottom: 5rem;
    margin-bottom: 5rem;
  }
  .about {
    display:block;
  }
  .about img {
    display: none;
  }
}

/* galaxy fold: 280 x 653 */
@media (max-width: 300px) {
  header {
    padding: 12px 3%;
    transition: all 1s ease;
  }

  .header-navbar {
    position: absolute;
    top: -800px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    transition: all 1s ease;
    text-align: right;
  }
}
